@import "/styles/main.scss";

.project-logo__component {
    padding: 30px 0;

    &:last-child {
        margin-bottom: 20px;
    }

    .__header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .__title {
            font-size: 1.4rem;
            font-weight: 300;
            color: #CCC;
            letter-spacing: .1em;
            display: inline-block;
            margin: 10px 0;
        }

        .__actions-container {
            a {
                color: white;
            }
        }
    }

    .__logo-container {

        position: relative;

        .__logo {
            display: flex;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            background: #151515;
            position: relative;
            height: 400px;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.5);
                }
            }

            picture {
                text-align: center;
            }

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
                // transform: translateX(-50%);
                @media screen and (min-width: 768px) {
                    width: 100%;
                    height: auto;
                }
                
                // object-fit: cover;
                transition: transform ease-in-out .4s;
            }
        }

        > .__title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            bottom: 0;
            left: 0;
            height: 80px;
            max-height: 80px;
            background: rgba(black, .8);
            display: flex;
            color: #F0F0F0;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
            font-weight: 100;
            letter-spacing: .1em;
            text-transform: uppercase;
            pointer-events: none;
        }
    }

}