@import "../../styles/main";

.header__component {
    // @include container;

    position: relative;

    .header__hero {
        width: 100%;
        min-height: 400px;
        padding: 20px;
        display: flex;
        justify-content: center;

        .hero__text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0px;
            bottom: 0px;
            // left: 100px;
            // right: 100px;
            align-items: flex-start;

            .hero__title {
                display: flex;
                align-items: center;
                font-size: 4rem;
                position: relative;
                border-radius: 3px;
                font-weight: 200;
            }

            .hero__subtitle {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                position: relative;
                
                border-radius: 3px;
                font-weight: 300;

                @include medium-up {
                }

                &.--nested {
                    padding-left: 5px;
                    margin-top: 20px;
                }

                &.--accent {
                    border-width: 0 0 1px 1px;
                    border-radius: 0 0 0 5px;
                    border-style: solid;
                    border-color: #ffb454;
                }

                &.--accent-text {
                    padding-left: 5px;
                    color: #ffb454;
                }
            }
        }
    }
}